body {
    background-image: url("https://www.circulaseguro.com/inc/uploads/2016/03/road-926315_1920.jpg");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }